.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.vehicle-home {
    display:flex;
}

.vehicles-list {
    font-family: "Times New Roman", Times, serif;
    flex: 1;
    padding: 5px;
}

.vehicles-list div {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    border-radius: 4px;
}

.vehicles-list div.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}

.vehicles-list div:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.vehicles-list .text {
    font-family: "Times New Roman", Times, serif;
    position: relative;
    top: -3px;
}

.ciao{
    margin: auto;
    border: 1px solid gray;
    padding: 8px;
}

h1,h3 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
}

p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
}




table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #f9ad07;
    color: white;
}

.vehicles-list .badge {
    font-family: "Times New Roman", Times, serif;
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    height: 30px;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.vehicle-detail {
    font-family: "Times New Roman", Times, serif;
    flex: 1;
    padding: 10px;
}

button {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    margin: 2px;
    background-color: #f9ad07;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
}

button:hover {
    background-color: #cfd8dc;
}

button:disabled {
    background-color: #f9ad07;
    color: #aaa;
    cursor: auto;
}

#floating-button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #f9ad07;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    box-shadow: 0px 2px 5px #666;
    display: flex;
}

#floating-button span {
    padding: 18px 0 0 9px;
}